<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            applicationId="com.ltts.example.id"
            brandingId="com.ltts.example.rap.branding"
            id="com.ltts.example.rap.entrypoint"
            path="/run">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="com.ltts.example.rap.branding"
            themeId="org.eclipse.rap.design.example.fancy.theme"
            title="RAP Example Theme">
      </branding>
   </extension>

</plugin>
