<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            applicationId="com.ltts.example.id"
            brandingId="com.ltts.example.rap.branding"
            id="com.ltts.example.rap.entrypoint"
            path="/run">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="com.ltts.example.rap.branding"
            themeId="org.eclipse.rap.design.example.business.theme"
            title="RAP Example Theme">
      </branding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Run">
            <command
                  commandId="com.ltts.example.rap.command.run"
                  label="Open_View_4"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.ltts.example.rap.View_4_Handler"
            id="com.ltts.example.rap.command.run"
            name="Open_View_4">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.ltts.example.perspective">
         <view
               closeable="true"
               id="com.ltts.example.rap.view_4"
               minimized="false"
               relationship="top"
               relative="com.ltts.example.view_3"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.ltts.example.rap.View_4"
            id="com.ltts.example.rap.view_4"
            name="View_4"
            restorable="true">
      </view>
   </extension>

</plugin>
